name: Build a pdf

on:
  push:
    branches:
      - main

permissions: read-all

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    name: Build and publish
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: "20.x"

      - name: Run
        run: |
          sudo apt-get install -y --fix-missing wkhtmltopdf || true
          wkhtmltopdf --page-size A4 cv.html cv.pdf

      - uses: actions/upload-artifact@v6
        with:
          name: cv
          path: cv.pdf
